.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;

   span{
    font-weight: bold;
    font-size: 35px;
    color: #4B7DEB;
   }

    button {
        background-color: #DC494A;
        color: #FEE2E2;
        border: none;
        outline: none;
        border-radius: 5px;
        padding: 5px 20px;
        height: 6vh;
        font-weight: bold;
        font-size: 16px;
    }

    button:hover {
        opacity: 0.8;
        cursor: pointer;
        transition: 0.5s;
    }

    button:not(:hover) {
        transition: 0.5s;
    }
}